.cp-course-app
{
    width: 100%;
    height: 100%;

    > .dialog-container
    {
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.40);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .app-blur {
        -moz-filter: blur(2px);
        -webkit-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
    }

    > .app-container
    {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: #EDEEF0;
        display: flex;
        flex-direction: column;
        
        > header, > .container
        {
            position: relative;
        }

        > header
        {
            flex: 0 0 @cp-header-height;
            background-color: @cp-header-color;
            display: flex;
            justify-content: center;
        }

        > .container
        {
            flex: 1 1 auto;
            display: flex;
            overflow-y: scroll;
            justify-content: center;
            background: @cp-background-color;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }



}
