.cp-course-app
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > header, > footer, > .container
    {
        position: relative;
    }

    > header
    {
        flex: 0 0 @cp-header-height;
        background-color: @cp-header-color;
        display: flex;
        justify-content: center;
    }

    > .container
    {
        flex: 1 1 auto;
        display: flex;
        padding: 10px 120px;
        overflow-y: auto;
    }

    > footer
    {
        flex: 0 0 60px;
    }
}
