.cp-course-course
{
    flex: 0 0 @cp-content-width;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    > .course-info
    {
        flex: 0 0 auto;
        padding: 20px 20px;
        border-radius: 5px;
        background: #FFFFFF;
    }

    > .course-contributor
    {
        flex: 0 0 950px;
    }

    > .discuss-area
    {
        flex: 0 0 955px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #FFFFFF;
    }

    > .related-resources
    {
        flex: 0 0 195px;
        margin-bottom: 80px;
        background: #FFFFFF;
    }
}
