.cp-course-course
{
    flex: 0 0 @cp-content-width;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    > .course-info
    {
        flex: 0 0 auto;
        padding: 20px 20px;
        border-radius: 5px;
        background: #FFFFFF;
    }

    > .course-contributor
    {
        flex: 1 0 auto;
        padding: 16px 16px;
        display: flex;
        flex-direction: column;

        li
        {
            flex: 0 0 auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
}
